<app-header [title]="title" format="png" [icon]="icon"></app-header>


<ion-content *ngIf="!isLoading">

    <img class="background-image" src="./../../../assets/imgs/bg.png">
    <div *ngIf="!isLoading" class="flag-rules ion-padding">
        <ion-row class="rule-row ion-margin-vertical">
            <ion-col size="6" *ngFor="let item of data" (click)="desc(item)" class="fade-in-top">
                <div class="content rule-box">
                    <img [src]="'assets/imgs/flag-rules/' + item.key + '.png' ">
                    <p>{{item.value}}</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5"></ion-col>
            <ion-col size="2" style="display: flex;justify-content: center;" (click)="utility.openPdfLink()">
                <ion-icon style="font-size: 35px;" color="primary" name="file-tray-stacked-outline"></ion-icon>
            </ion-col>
            <ion-col size="5"></ion-col>
        </ion-row>
    </div>

</ion-content>

<div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
</div>

<contact-us-fab></contact-us-fab>
