// ion-content {
//     // --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
// }

.flag-rules {
    height: 100%;

    .rule-row {
        .rule-box {
            background-color: var(--ion-color-primary);
            height: 17vh;
            color: #fff;
            text-align: center;
            // margin-top: 15px;
        }

        .content {
          // margin: 10px;
          box-shadow: 1px 4px 8px 0px #5d4f42;
        //   5px 5px 8px 1px rgba(0, 0, 0, 0.40)
          padding: 10px;
          img {
              height: 60px;
          }

          p {
              margin: 0px;
              font-weight: bolder;
              font-size: 1.1em;
              line-height: 1.1em;
          }
      }
    }

    .bottom-icon {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
