<app-header [title]="title" format="png" [icon]="icon"></app-header>

<ion-content>
  <img class="background-image" src="./../../../assets/imgs/bg.png">
  <ion-grid style="padding: 1px;" *ngIf="!isLoading">

    <ion-row>
      <ion-col *ngFor="let img of images; let i = index" size="4" style="padding: 1px;" (click)="showImage(i)">
        <app-photos class="img-col" [image]="img.value"></app-photos>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- <div class="masonry-container">
    <div class="masonry-item" *ngFor="let img of images">
      <app-photos class="img-col" [image]="img.value"></app-photos>
    </div>
  </div> -->


  <div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

</ion-content>

<contact-us-fab></contact-us-fab>
