ion-content {
    // --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
}

// .img-col {
//     padding: 1px;
//     display: flex;
//     justify-content: center;
//     align-items: center;


//     // ion-img {
//     //     height: 140px;
//     //     width: 100%;
//     //     object-fit: cover;
//     // }
// }

// .masonry-container {
//   -webkit-column-count: 2;
//   -moz-column-count: 2;
//   column-count: 2;

//   -webkit-column-gap: 15px;
//   -moz-column-gap: 15px;
//   column-gap: 15px;
// }

.masonry-item {
  display: inline-block;
  width: 33.33vw;
  height: 22.22vh;
  padding: 1px;
}

// .masonry-item img {
//   display:block;
//   width: 100%;
// }
