<div class="history-outer">
  <div class="image-div" #imageView>
    <img [src]="image">
  </div>
  <div (scroll)="logScrolling($event)" class="text-div custom-scrollbar" [class.text-left]="lang === 'en'"
    [class.text-right]="lang === 'ar'" [style.height.px]="textHeight" #parentScroll>
    <div #scrolldiv *ngIf="showScroll" class="scroll-div" [style.height.px]="textHeight">
      <div #scroll class="scroll" [ngClass]="slide == 1 ? 'increased-height' : ''"></div>
    </div>

    <div [class]="lang == 'en' ? 'content-en' : 'content-ar'">
      <div [class]="lang == 'en' ? 'left' : 'right'" [innerHtml]="content" #htmlcontent></div>
    </div>
  </div>
</div>
