.history-outer {
  // width: 100%;
  // height: 75vh;
}

.image-div {
  // position: fixed;
  // height: 36vh;
  // width: 100%;
}

.text-div {
  // position: fixed;
  // /* margin-top: 36vh; */
  // height: 38vh;
  // top: 59vh;
  // width: 100%;
  overflow: scroll;
  padding: 0px 20px;

  // position: relative;
  // /* margin-top: 36vh; */
  // height: 100%;
  // top: 38vh;
  // width: 100%;
  // overflow: scroll !important;
  // padding: 0px 20px;

  ::ng-deep p {
    font-family: "SST-Arabic" !important;
    color: var(--ion-color-primary);
    font-size: 15px;
    line-height: 22px;
  }
  ::ng-deep .mt-100 {
    margin-top: 100px;
  }
  ::ng-deep strong {
    width: 50px;
    background: #5f503e;
    padding: 2px 6px;
    margin-bottom: 5px;
    color: #ffffff;
  }
}

.scroll-div {
  display: flex;
  width: 15px;
  position: fixed;
  // height: calc(100% - 80px);
  margin-left: -1px;
  justify-content: center;
  padding-top: 20px;
  background: rgb(230 230 230);
  border-radius: 15px;

  .scroll {
    background: rgb(109, 88, 70);
    width: 90%;
    border: #fff 3px solid;
    height: 35px;
    border-radius: 33%;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
  }
}

::-webkit-scrollbar {
  display: none;
}

.left {
  margin-left: 26px;
}

.right {
  margin-right: 26px;
}

::ng-deep .date {
  background: #6e5946;
  text-align: center;
  font-weight: 900;
  color: #fff !important;
}

.content-ar {
  ::ng-deep .date {
    display: inline;
    padding: 2px 15px;
  }
}

.content-en {
  ::ng-deep .date {
    display: inline;
    padding: 2px 15px;
  }
}

.increased-height {
  height: 60px !important;
}
