.app-header {
    ion-toolbar {
        // height: 65px;
    }

    .header-img {
        width: 75px;
        height: 50px;
        object-fit: contain;
        margin: 15px 0px;
    }

    .back-img {
        width: 50px;
    }

    ion-toolbar {
        --background: #6e5946;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
        color: white;
    }

    ion-title {
        // padding-left: 9px;
        // font-weight: bolder;
    }

    .top-heading {
        font-size: 1.3em;
        padding-bottom: 10px;
        font-weight: bold !important;
        white-space: initial;
        span {
            display: inline-block;
            white-space: normal;
            line-height: 30px;
        }
    }
}
