<ion-header class="app-header">
  <ion-toolbar>
    <img [hidden]="!icon" class="fade-in header-img" [src]="'assets/' + assetLink + '/' + icon + '.' + format" slot="start">
    <ion-title [hidden]="!title" class="top-heading fade-in" [class.text-left]="lang === 'en'"
      [class.text-right]="lang === 'ar'"> <span>{{title}}</span></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <img class="back-img" src="assets/icon/back.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
