// ion-content {
//     // --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
// }

.details-header {
    .header-img {
        width: 75px;
        height: 50px;
        object-fit: contain;
        margin: 15px 0px;
    }

    .close-icon {
        width: 50px;
        height: 100%;
    }

    ion-toolbar {
        --background: #6e5946;
        color: white;
    }

    .top-heading {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0;
        font-weight: bold !important;
        padding: 10px 3px;
        padding-top: 0 !important;
    }
}

.rule-detail {
    margin: 0 18px;
    text-align: center;
    margin-top: 75px;

    ::ng-deep p {
        color: var(--ion-color-primary);
        font-size: 20px;
        font-weight: bolder;
        line-height: 30px;
        margin: 30px;
    }

    ::ng-deep img {
        max-height: 250px;
    }
}
