<!-- <ion-content
  [style]="{'--background': 'url(./../../../assets/imgs/milestones/'+ item?.id +'.png) 0 0/100% 100% no-repeat'}"> -->

<!-- <ion-header class="details-header">
  <ion-toolbar>
    <img class="header-img" [src]="'assets/imgs/flag-rules/' + rule.key + '.png' " slot="start">
    <p class="top-heading fade-in" [class.text-left]="lang === 'en'" [class.text-right]="lang === 'ar'"> {{rule?.value}}
    </p>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()" color="light">
        <ion-icon name="close-circle-outline" class="close-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<app-header [isModal]="true" [title]="rule.value" format="png" [assetLink]="'imgs'" [icon]="'flag-rules/' + rule.key"></app-header>

<ion-content>
  <img class="background-image" src="./../../../assets/imgs/bg.png">


  <div *ngIf="!isLoading">
    <div class="rule-detail" [innerHtml]="item.content"></div>
  </div>

  <div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

</ion-content>
