*,
*::before,
*::after {
  box-sizing: border-box;
}

ion-content {
  direction: ltr !important;
  --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  --padding-bottom: 70px;
}

.scroll-div {
  display: flex;
  width: 15px;
  background: rgb(230 230 230);
  position: fixed;
  left: 49%;
  // height: 100%;
  height: calc(100vh - 80px);
  margin-left: -1px;
  justify-content: center;

  .scroll {
    // margin-top: 1rem;
    background: rgb(109, 88, 70);
    width: 90%;
    border: #fff 3px solid;
    height: 74px;
    border-radius: 33%;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
  }
}

.container {
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 4%;
}

.container.right {
  left: 52%;
}

.container.left .content {
  box-shadow: -5px 7px 6px 0px rgb(0 0 0 / 25%);
}

.container.right .content {
  box-shadow: 9px 5px 7px 0px rgb(0 0 0 / 25%);
}

.container.right::after {
  left: -8px;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container .content {
  background: var(--ion-color-primary);
  width: 90%;
  text-align: center;
  display: flex;
  height: 100px;
  position: relative;
  margin-top: 30px;
  border-radius: 10px 0 0 10px;
  flex-direction: column;
  padding: 0 5px 0 5px;
}

.container.right .content {
  border-radius: 0 10px 10px 0;
}

.container .content h2 {
  font-size: 13px;
  font-weight: bolder;
  color: white;
  margin-bottom: 0;
}

.container .content p {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.pdf-pages {
  --bullet-background: #000000;
  --bullet-background-active: var(--ion-color-primary);
  .swiper-pagination {
    bottom: -80px !important;
  }
}


.skill-per{
  height: 14px;
  background: var(--ion-color-primary);
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}