<app-header [title]="title" format="png" [icon]="icon"></app-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-slides [hidden]="isLoading" class="pdf-pages" (ionSlideDidChange)="onSlideChange()" (ionSlideReachEnd)="slide_ended = true" pager="true" [options]="slideOpts" [mode]="'ios'"
    [scrollbar]="false">
    <ion-slide *ngFor="let pdf of pdfs; let i = index">
      <img [src]="'assets/pdfs/' + lang + '/' + this.utility.strings.twoLetterNumber(pdf) + '.png'  ">
    </ion-slide>
  </ion-slides>

  <div class="skill">
    <div class="skill-bar">
      <div class="skill-per" [style]="'max-width:' + percent.toString() + '%'"></div>
    </div>
  </div>

</ion-content>





<!-- <ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logEndFunc($event)"
    class="timeline" *ngIf="!isLoading" #content class="fade-in-top">

    <div #scrolldiv class="scroll-div">
        <div #scroll class="scroll"></div>
    </div>


    <div *ngFor="let item of data; let i = index" class="container" [ngClass]="i % 2 ? 'left' : 'right' ">
        <div (click)="details(item)" class="content">
            <h2 [style]="lang == 'ar' ? 'font-size : 16px;' : 'font-size : 12px;'">{{item.title}}</h2>
            <p>
                {{item.date}}
            </p>
        </div>
    </div>
</ion-content>

<div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
</div> -->

<!-- <img class="background-image" src="./../../../assets/imgs/bg.png"> -->