ion-content {
    --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
}

.green-bg {
  background-color: var(--ion-color-primary) !important;
  color: #fff !important;
}

.year-div {
  background-color: var(--ion-color-primary);

  .year-sub-div {
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 100%;
  }
}

.tab-div {
  background-color: #fff;
  border: 1px solid var(--ion-color-primary);

  .tab-sub-div {
    color: var(--ion-color-primary);
    font-weight: bolder;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;

    .sub-div {
      width: 33.33%;
      text-align: center;
    }
  }

  .tab-sub-div:nth-child(1) {
    border-right: 1px solid var(--ion-color-primary);
  }
  .inner-sub-div {
    border-right: 1px solid var(--ion-color-primary);
  }
}

.history {
  // height: calc(100vh - 200px);
  // background: blue;
  overflow: hidden;
  position: relative;

  ion-slide {
    display: block;
  }
}

app-content-area {
  width: 100%;
  display: block;
}

// .text-div {
//     p {
//         span {
//             color: var(--ion-color-primary) !important;
//         }
//     }

//     p  {
//         strong {
//             color: #fff;
//             background-color: #5f503e;
//         }

//     }
// }
