<ion-header>
  <app-header [title]="title" format="png" [icon]="icon"></app-header>
  <ion-toolbar [hidden]="loading" style="padding-top: 0" class="fade-in-top">
    <ion-grid class="ion-no-padding">
      <ion-row class="year-div ion-no-padding" [ngClass]="lang == 'ar' ? 'rtl' : ''">
        <ion-col style="border-width: 0;" class="year-sub-div ion-no-padding" size="4">
          {{first_slide_data[0]?.date}}
        </ion-col>
        <ion-col class="year-sub-div ion-no-padding" size="4">
          {{second_slide_data[0]?.date}}
        </ion-col>
        <ion-col style="border-width: 0;" class="year-sub-div ion-no-padding" size="4">
          {{third_slide_data[0]?.date}}
        </ion-col>
      </ion-row>
      <ion-row class="tab-div" [ngClass]="lang == 'ar' ? 'rtl' : ''">
        <ion-col (click)="moveSlide(0)" class="tab-sub-div" [ngClass]="sort == 0 ? 'green-bg' : ''" size="4">
          {{lang == 'en' ? '1' : '١'}}
        </ion-col>
        <ion-col class="tab-sub-div" size="4">
          <div (click)="moveSlide(1)" [ngClass]="sort == 1 ? 'green-bg' : ''" class="sub-div inner-sub-div">
            {{lang == 'en' ? '2' : '٢'}}
          </div>
          <div (click)="moveSlide(2)" [ngClass]="sort == 2 ? 'green-bg' : ''" class="sub-div inner-sub-div">
            {{lang == 'en' ? '3' : '٣'}}
          </div>
          <div (click)="moveSlide(3)" [style]="lang == 'ar' ? 'border-left: 1px solid var(--ion-color-primary);' : ''"
            [ngClass]="sort == 3 ? 'green-bg' : ''" class="sub-div inner-sub-div">
            {{lang == 'en' ? '4' : '٤'}}
          </div>
        </ion-col>
        <ion-col (click)="moveSlide(4)" [ngClass]="sort == 4 ? 'green-bg' : ''" class="tab-sub-div" size="4">
          {{lang == 'en' ? '5' : '٥'}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <div class="image-div">
      <img [src]="'assets/imgs/Flags/' + imagenum + '.png'">
    </div>
  </ion-toolbar> -->
</ion-header>

<ion-content [hidden]="loading" #ionContent [forceOverscroll]="false" [scrollY]="false" class="fade-in-top">

  <!-- <img class="background-image" src="./../../../assets/imgs/bg.png"> -->

  <div class="history" [style]="lang == 'ar' ? 'direction : rtl;' : ''" [hidden]="loading">
    <!-- <ion-slides #slides>
      <ion-slide> -->
    <app-content-area [hidden]="sort == 1 || sort == 2 || sort == 3 || sort == 4" [image]="'assets/imgs/Flags/1.png'"
      [content]="first_slide_data[0]?.content" [contentHeight]="contentHeight" [slide]="1">
    </app-content-area>
    <!-- </ion-slide>
      <ion-slide> -->
    <app-content-area [hidden]="sort == 0 || sort == 2 || sort == 3 || sort == 4" [image]="'assets/imgs/Flags/2.png'"
      [content]="second_slide_data[0]?.content" [contentHeight]="contentHeight" [slide]="2">
    </app-content-area>
    <!-- </ion-slide>
      <ion-slide> -->
    <app-content-area [hidden]="sort == 0 || sort == 1 || sort == 3 || sort == 4" [showScroll]="false"
      [image]="'assets/imgs/Flags/3.png'" [content]="second_slide_data[1]?.content" [contentHeight]="contentHeight">
    </app-content-area>
    <!-- </ion-slide>
      <ion-slide> -->
    <app-content-area [hidden]="sort == 0 || sort == 1 || sort == 2 || sort == 4" [showScroll]="false"
      [image]="'assets/imgs/Flags/4.png'" [content]="second_slide_data[2]?.content" [contentHeight]="contentHeight">
    </app-content-area>
    <!-- </ion-slide>
      <ion-slide> -->
    <app-content-area [hidden]="sort == 0 || sort == 1 || sort == 2 || sort == 3" [showScroll]="false"
      [image]="'assets/imgs/Flags/5.png'" [content]="third_slide_data[0]?.content" [contentHeight]="contentHeight">
    </app-content-area>
    <!-- </ion-slide>
    </ion-slides> -->
  </div>

</ion-content>


<div class="spinner" [hidden]="!loading">
  <ion-spinner color="primary"></ion-spinner>
</div>

<contact-us-fab></contact-us-fab>
