// ion-content {
//     // --background: url("./../../../assets/imgs/bg.png") 0 0/100% 100% no-repeat;
// }

.top-row {
    background-color: var(--ion-color-primary);

    .top-col {
        text-align: center;
        color: #fff;
        font-weight: 600;
    }
}

.white-bg {
    background-color: #fff !important;
    color: var(--ion-color-primary) !important;
}

.img-container {
    background-position: center;
    background-size: cover;
    top: 40px;
    height: 100%;
    // img {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }
}

.container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mast-detail-header {
    background-color: rgb(95 59 16);
    display: flex;
    justify-content: center;

    p {
        display: flex;
        justify-content: center;
        width: 25%;
        margin: 0;
        font-weight: bolder;
        color: #fff;
        font-size: 14px;
    }
}

.mast-details {
    background-color: rgb(198 156 107);
    display: flex;
    justify-content: center;
    p {
        display: flex;
        justify-content: center;
        width: 25%;
        margin: 0;
        font-size: 14px;
        font-weight: bolder;
        color: #fff;
        border-color: rgba(95, 59, 16, 0.84);
        border-width: 1px;
        border-style: solid;
        padding: 7px 0px;
        line-height: 20px;
    }
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--ion-color-primary);
    ion-item {
        --background: var(--ion-color-primary);

        ion-icon {
            color: #ffffffab;
            font-size: 35px;
        }

        ion-text {
            color: #fff;
            margin-left: 15px;
            font-weight: bolder;
        }
    }

    .footer-text {
        font-size: 0.9em;
        line-height: 1.4em;
    }
}
