<app-header [title]="title" format="png" [icon]="icon"></app-header>


<ion-content [scrollY]="false" *ngIf="!isLoading" class="fade-in-top">

    <img class="background-image" src="./../../../assets/imgs/bg.png">

    <ion-row class="top-row">
        <ion-col class="top-col" (click)="num = 0" [ngClass]="num == 1 ? 'white-bg' : ''" size="6">
            {{data[0].title}}
        </ion-col>
        <ion-col class="top-col" (click)="num = 1" [ngClass]="num == 0 ? 'white-bg' : ''" size="6">
            {{data[1].title}}
        </ion-col>
    </ion-row>

    <div class="img-container" [ngStyle]="{'background-image': returnBg(data[num].image)}">
        <!-- <img [src]="'../../../assets/imgs/mast/' +  + '.jpg' " alt=""> -->
    </div>

    <div class="container">
        <div class="mast-detail-header">
            <p>
                {{flag_height[0].value}}
            </p>
            <p>
                {{flag_area[0].value}}
            </p>
            <p>
                {{flag_weight[0].value}}
            </p>
            <p>
                {{flag_total_area[0].value}}
            </p>
        </div>
        <div class="mast-details">
            <p>
                {{data[num].flag_height}}
            </p>
            <p>
                {{data[num].flag_area}}
            </p>
            <p>
                {{data[num].flag_weight}}
            </p>
            <p>
                {{data[num].flag_total_area}}
            </p>
        </div>
    </div>


</ion-content>

<div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
</div>


<ion-footer *ngIf="!isLoading" class="footer fade-in">
    <ion-item (click)="openLatLong(data[num])" lines="none">
        <ion-icon name="location"></ion-icon>
        <ion-text class="footer-text">
            {{data[num].location}}
        </ion-text>
        <ion-button style="margin-left: 0;" slot="end" fill="clear" (click)="openLatLong(data[num])">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
    </ion-item>
</ion-footer>