.splash-bg {
  direction: ltr;
  // --background: url('/assets/imgs/splash.jpg') 0 0/100% 100% no-repeat;
}

.intro-div {
  position: relative;
  width: 280px;
  margin: 52vh auto;
}

.backgroundImage{
  --background: url(../../../assets/imgs/splash.jpg) 0 0/100% 100% no-repeat;
}
.saudiflag_ar {
  text-align: center;
  font-size: 2.5em;
  // text-shadow: 2px 2px 2px #5d4f4285;
}

.saudiflag_en {
  // text-shadow: 2px 2px 2px #5d4f4285;
  text-align: center;
  font-size: 2.2em;
}

.row-margin {
  margin-top: 5px;
}

.buttons-lang {
  height: 55px;
  width: 100%;
  color: #fff;
  background-color: var(--ion-color-primary);
  text-align: center;
  font-size: 1.2em;
  --border-radius: 9px;
  border-radius: 9px;
  box-shadow: 4px 4px 16px 2px #5d4f42;
}

.center{
  display: flex;
  justify-content: center;
}