<div class="fullscreen-animation" *ngIf="animation">
  <img src="assets/icon/flag-arabic.gif" />
</div>


<ion-content [fullscreen]="true" class="backgroundImage" *ngIf="!animation" scrollY="false">

  <ion-grid class="intro-div scale-in-center" [hidden]="loading">
    <ion-row>
      <ion-col size="12">
        <h2 class="primary-color font-bold saudiflag_ar">{{saudiFlag?.ar}}</h2>
        <h3 class="primary-color saudiflag_en">{{saudiFlag?.en}}</h3>
      </ion-col>
    </ion-row>

    <ion-row class="row-margin">
      <ion-col size="6">
        <ion-button (click)="goToDashboard('en')" class="font-bold buttons-lang">
          <span>
            {{language?.en}}
          </span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="--padding-bottom: 10px" (click)="goToDashboard('ar')" class="font-bold buttons-lang">
          <span>
            {{language?.ar}}
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row-margin">
      <ion-col class="center">
        <img src="/assets/imgs/desert.png" width="60px" height="68px" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>