<ion-content
  [style]="{'--background': 'url(./../../../assets/imgs/milestones/'+ item?.id +'.png) 0 0/100% 100% no-repeat'}">

  <ion-header class="details-header">
    <ion-toolbar>
      <div slot="start" class="heading"  [class.heading-ar]="lang === 'ar'">
        <p>
          {{item.title}}
        </p>
        <p>
          {{item.date}}
        </p>
      </div>


      <ion-buttons slot="end">
          <ion-button (click)="close()">
            <img class="close-btn" src="assets/icon/back.png">
          </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <div class="milestone-detail">
    <p>
      {{item.content}}
    </p>
  </div>


</ion-content>