.details-header {
  ion-toolbar {
    --background: #5f503e;

    .heading {
      width: 100%;
      padding-left: 15px;
      text-align: left;

      p {
        font-weight: bolder;
        color: white;
        font-size: 19px;
        margin: 0;
      }
    }

    .close-btn {
      width: 50px;
      height: 50px;
      // border-radius: 50%;

      // ion-icon {
      //   font-size: 30px;
      //   color: #5f503e;
      //   --ionicon-stroke-width: 73px;
      //   transform: translateX(-6px);
      // }
    }
  }
}

.heading-ar {
  padding-right: 15px;
  text-align: right !important;
}

.milestone-detail {
  margin: 0 18px;
  text-align: center;
  margin-top: 75px;

  p {
    color: var(--ion-color-primary);
    font-size: 20px;
    font-weight: bolder;
    line-height: normal;
  }
}

.rule-detail {
  ::ng-deep img {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
