<app-header [title]="data?.title" format="png" [isModal]="true"></app-header>

<ion-content [ngClass]="jsonService.lang == 'ar' ? 'contact-page':''">
  <ion-row>
    <ion-col class="ion-padding" size="12">
      <h5>{{data?.description}}</h5>
    </ion-col>
  </ion-row>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label> {{data?.name}} </ion-label>
            <ion-input
              [(ngModel)]="feedback.name"
              class="input"
              name="name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label> {{data?.email}} </ion-label>
            <ion-input
              [(ngModel)]="feedback.email"
              class="input"
              name="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label> {{data?.phoneNumber}} </ion-label>
            <ion-input
              [(ngModel)]="feedback.phoneNumber"
              class="input"
              name="phoneNumber"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label> {{data?.feedback}}</ion-label>
            <ion-textarea
              [(ngModel)]="feedback.feedback"
              class="textarea"
              name="feedback"
              rows="5"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="sendContactUsData()">
        {{data?.submit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
