
<div class="square" [style.background-image]="getBgImage()">
</div>
<!-- <div class="outer" *ngIf="!isImageLoaded" [ngClass]="isImageLoaded ? 'opacity-0' : 'opacity-1'">
  <ion-spinner></ion-spinner>
</div> -->

<!-- <img [ngClass]="isImageLoaded ? 'opacity-1 fade-in' : 'opacity-0'" [src]="image"
  (load)="imageLoaded()" (click)="utility.openImage(image)" /> -->
