// .outer{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;;
//   height: 33.33vw;
//   // background: blue;
//   text-align: center;;
// }

img {
  width: 100%;
  height: 100%;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.square {
  width: 100%;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
