<app-header [title]="title" format="png" [icon]="icon"></app-header>

<ion-content>

    <img class="background-image" src="./../../../assets/imgs/national-anthem/NationalAnthem.png">

    <div class="top-flag">
        <img src="../../../assets/imgs/national-anthem/flag-Trans.png">
    </div>

    <div class="play-pause">
        <img (click)="playPause()" *ngIf="isPlaying" src="../../../assets/imgs/national-anthem/pause.png">
        <img (click)="playPause()" *ngIf="!isPlaying" src="../../../assets/imgs/national-anthem/playBig.png">
    </div>

    <div class="play-box">
        <div *ngIf="!isPlaying" class="pause-line">
            <div></div>
        </div>
        <div *ngIf="isPlaying" class="play-gif">
            <img src="../../../assets/imgs/national-anthem/animationsound.gif">
        </div>
    </div>

    <div class="sub-box">
        <p class="line-height-en" *ngIf="lang == 'en'">
            <span [class.hide-animated]="timelaspse < 0" [class.show-animated]="timelaspse > -1">Hasten for glory and
                supremacy <br>
                Glorify the creator of the heavens</span>
            <br>
            <span [class.hide-animated]="timelaspse < 1" [class.show-animated]="timelaspse > 0">and raise the green
                flag<br>
                carrying the written light</span> <br>
            <span [class.hide-animated]="timelaspse < 2" [class.show-animated]="timelaspse > 1"> Chant "God is the
                greatest" O my country</span>
            <br>
            <span [class.hide-animated]="timelaspse < 3" [class.show-animated]="timelaspse > 2">my country, Long live
                the pride of Muslims</span> <br>
            <span [class.hide-animated]="timelaspse < 4" [class.show-animated]="timelaspse > 3">Long live the king, for
                the flag and the country.</span> <br>
        </p>
        <p class="line-height-ar" *ngIf="lang == 'ar'">
            <span [class.hide-animated]="timelaspse < 0" [class.show-animated]="timelaspse > -1">
                سَارِعِي لِلْمَجْدِ وَالْعَلْيَاء <span class="between-space"></span> مَجِّدِي لِخَالِقِ السَّمَاء
            </span><br>
            <span [class.hide-animated]="timelaspse < 1" [class.show-animated]="timelaspse > 0">
                وَارْفَعِ الخَفَّاقَ أَخْضَرْ <span class="between-space"></span> يَحْمِلُ النُّورَ الْمُسَطَّرْ
            </span><br>
            <span [class.hide-animated]="timelaspse < 2" [class.show-animated]="timelaspse > 1">
                رَدّدِي اللهُ أكْبَر <span class="between-space"></span><span class="between-space"></span> يَا
                مَوْطِنِي
            </span><br>
            <span [class.hide-animated]="timelaspse < 3" [class.show-animated]="timelaspse > 2">
                مَوْطِنِي عِشْتَ فَخْرَ الْمُسلِمِين
            </span><br>
            <span [class.hide-animated]="timelaspse < 4" [class.show-animated]="timelaspse > 3">
                عَاشَ الْمَلِكْ: لِلْعَلَمْ وَالْوَطَنْ
            </span><br>
        </p>
    </div>
</ion-content>

<contact-us-fab></contact-us-fab>
