// .topheader{
//   // position: relative;
//   // display: block;
//   // width: 100%;
//   // height: auto;;
//   // background: blue;
//   // height: 140px;
// }

.app-header {
  // ion-toolbar {
  //     // height: 65px;
  // }

  .header-img {
    width: 75px;
    height: 50px;
    object-fit: contain;
    margin: 15px 0px;
  }

  .back-img {
    width: 40px;
  }

  ion-toolbar {
    --background: transparent;
    // box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    color: white;
    position: fixed;
    --border-width: 0;
  }

  // ion-title {
  //     // padding-left: 9px;
  //     // font-weight: bolder;
  // }

  .top-heading {
    font-size: 1.2em;
    padding-bottom: 10px;
    font-weight: bold !important;
    text-transform: uppercase;
    padding-left: 15px;
  }
}

ion-content {
  --background: #f5fcf7;

  // .dash-button-row {
  //     height: 15vh;
  // }

  ion-col {
    display: flex;
    justify-content: center;
  }

  .dash-button {
    --border-radius: 12px;
    border-radius: 12px;
    margin: 3px 0;
    height: 11vh;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    --padding-end: 9px;
    --padding-start: 9px;
    width: 75%;

    .btn-icon {
      width: 50px;
      height: 50px;
    }

    .btn-text {
      text-align: start;
      // white-space: nowrap;
      font-size: 1.15em;
    }
  }
}

.text-margin-ar {
  margin-left: auto;
  margin-right: 10px;
}

.text-margin-en {
  margin-right: auto;
  margin-left: 10px;
}

.card {
  border-radius: 12px;

  ion-item {
    --border-radius: 12px;
  }
}

.card-content {
  font-weight: 900;
  font-size: 1.3em;
}

// 2nd and 3rd Theme css
.db-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --background: #fff !important;
  width: 95%;
  min-width: 140px;
  height: 20vh;
  box-shadow: 0px 23px 25px 0px rgba(5, 46, 8, 0.07);
  margin: 3px 0;
  --border-radius: 8px;
  border-radius: 8px;
  .btn-icon {
    width: 50px;
  }
  .btn-text {
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 8px 0;
    line-height: 1.2;
    white-space: initial;
    color: #006c32;
  }
}

// 4th Theme css
// .theme-4 .col:nth-child(even){
//     padding: 0 10px 0 0;
// }
// .theme-4 .col:nth-child(odd){
//     padding: 0 0 0 10px;
// }
// .theme-4 .col .db-button{
//     width: 100%;
//     --border-radius: 0;
//     border-radius: 0;
//     box-shadow: 0px 23px 32px 0px rgba(5, 46, 8, 0.07);
//     margin: 0;
//     padding: 0;
//     border: 1px solid white;
// }

// Flag Banner css

.flag-banner {
  display: block;
  padding: 0;
  background-color: #f5fcf7;
}

.flag-banner .header {
  display: block;
  width: 100%;
  min-height: 230px;
  margin-bottom: 20px;
  background: url("./../../../assets/imgs/bg-curve3.png") no-repeat;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
}
// .header .banner-logo{
//     max-width: 65%;
//     margin-bottom: 25px;
// }
// .header .content{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .header .greeting{
//     font-size: 18px;
//     font-weight: 400;
//     font-style: italic;
//     color: #fff;
//     text-align: left;
//     line-height: 1;
//     margin-bottom: 8px;
//     margin-top: 0;
// }
// .header .name{
//     font-size: 22px;
//     font-weight: 600;
//     font-style: italic;
//     color: #fff;
//     text-align: left;
//     line-height: 1;
//     margin: 0;
// }
// .header .weather{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
// }
// .header .weather .icon{
//     width: 50px;
//     margin-bottom: 8px;
// }
// .header .weather .temp{
//     font-size: 18px;
//     font-weight: 600;
//     color: #fff;
//     line-height: 1;
//     margin: 0 0 5px;
// }
// .header .weather .forecast{
//     font-size: 12px;
//     color: #fff;
//     line-height: 1;
//     margin: 0;
// }
// .flag-banner .desc{
//     padding: 0 20px 20px;
//     font-size: 18px;
//     font-weight: 600;
//     color: #000;
//     line-height: 1;
// }

// .theme-5{
//     padding: 0 15px;
// }
// .theme-5 .col .new-button{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     min-height: 120px;
//     --border-radius: 0;
//     border-radius: 0;
//     box-shadow: none;
//     --box-shadow: none !important;
//     margin: 0;
//     padding: 0;
//     border-left: 3px solid #f1f1f1;
//     border-right: 3px solid #f1f1f1;
//     border-top: 3px solid #f1f1f1;
//     border-bottom: 3px solid #f1f1f1;
//     --background: #fff !important;
// }
// .theme-5 .col{
//     padding: 0;
// }

// .btn-icon{
//     width: 60px;
// }
// .btn-text{
//     font-size: 15px;
//     font-weight: 600;
//     color: #006d4e;
//     line-height: 1;
//     margin: 5px 0;
// }
