<!-- [class.text-left]="lang === 'en'" -->
<ion-header class="app-header">
  <ion-toolbar>
    <!-- <img [hidden]="!icon" class="fade-in header-img" [src]="'assets/icon/' + icon + '.' + format" slot="start"> -->
    <!-- <ion-title [hidden]="!title" class="top-heading fade-in" [class.text-left]="lang === 'en'" slot="start"
      [class.text-right]="lang === 'ar'"></ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <img class="back-img" src="assets/icon/back.png" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="background-image" src="./../../../assets/imgs/bg.png">
  <ion-grid *ngIf="!isLoading" class="ion-margin-vertical">
    <ion-row class="dash-button-row" *ngFor="let item of data;let i = index">
      <ion-col size="12" *ngIf="i <= 5">
        <ion-button (click)="goTo(item)" class="dash-button flip-in-hor-bottom">
          <img class="btn-icon" [src]="'assets/icon/' + item.key + '.png'">
          <p class="btn-text"  [ngClass]="lang == 'ar' ? 'text-margin-ar' : 'text-margin-en'">
            {{item?.value}}
          </p>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid> -->

  <!-- Theme 3 -->
  <ion-grid class="flag-banner" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" class="header"></ion-col>
    </ion-row>
    <ion-row class="ion-no-padding dash-button-row">
      <ion-col
        *ngFor="let item of data;let i = index"
        [size]="6"
        [hidden]="i == 0"
        class="ion-no-padding"
      >
        <ion-button
          *ngIf="i <= 4"
          color="primary2"
          (click)="goTo(item)"
          class="db-button fade-in-top"
        >
          <div>
            <img
              class="btn-icon"
              [src]="'assets/icon/' + item.key + '-green' + '.png'"
            />
            <p class="btn-text">{{item?.value}}</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding dash-button-row ion-justify-content-center">
      <ion-col class="ion-no-padding" size="6">
        <ion-button
          color="primary2"
          (click)="goTo(data[5])"
          class="db-button fade-in-top"
        >
          <div>
            <img
              class="btn-icon"
              [src]="'assets/icon/' + data[5].key + '-green' + '.png'"
            />
            <p class="btn-text">{{data[5]?.value}}</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
</ion-content>

<contact-us-fab></contact-us-fab>
